.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    border:0px;
    border-radius: 10px;
    background-color: #699b78;
    overflow: auto;
}

.container {
	display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: center;
    width:700px;
    height:500px;
    background-color: #326b43;
    border-radius: 15px;
    overflow: auto;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginModalTitle{
    font-weight: 0;
    color:white;
    font-size: 24px;
    margin-bottom: 15px;
}

.field{
    width:50%;
    min-width: 200px;
    height:35px;
    background-color: rgb(235, 235, 235);
    border:1px solid gray;
    color: #808080;
    margin-bottom:10px;
    padding-left: 10px;
    border-radius: 7px;
}

.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    margin: 5px 5px 5px 15px !important;
}

.checkbox:focus {
    background-color: gray;
}


.modalSigninButton{
    background-color: white;
    color : rgba(38, 38, 47);
    height:36px;
    width:50%;
    min-width: 200px;
    border-radius: 18px;
    font-weight: 0;
    margin:10px;
}

.horizontalContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.label {
    margin-bottom : 7px;
    color: white;
}

.parentLabel {
    color: white;
}