@import url('https://fonts.googleapis.com/css2?family=Newsreader:opsz,wght@6..72,500;6..72,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Winky Sans';
  background: radial-gradient(#d1e4d7, #468a5b);
}

* {
  box-sizing: border-box;
  font-family: 'Winky Sans', serif;
  font-weight: 300;
}

h1 {
  font-weight: 0;
  margin: 0;
}

h2 {
  font-weight: 200;
  font-size: 26px;
  margin: 0;
}

h3 {
  font-weight: 200;
  margin: 0;
  width: 95%;
}

h4 {
  margin: 0;
  margin-top: 5px;
  font-size: 12px;
  opacity: 0.6;
  letter-spacing: 1px;
}

input {
  border: none;
  border-bottom: 0.5px lightgray solid;
  margin-bottom: 15px;
  text-align: center;
}

input:focus {
  outline: none;
}

button {
  height: 25px;
  font-size: 16px;
  font-weight: 600;
  color: #024b18;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button:hover {
  outline: none;
}

/* Couleurs par génération */
.gen0 {
  background-color: #e6f7ff;
}

.gen1 {
  background-color: #7f7f7f;
}

.gen2 {
  background-color: #1ec01eff;
}

.gen3 {
  background-color: #1e90ff;
}

.gen4 {
  background-color: #ff0000;
}

.gen5 {
  background-color: #ffd700;
}

.gen6 {
  background-color: #8a2be2;
}

.gen7 {
  background-color: #ff69b4;
}

.modal{
    padding: 0px;
    border: 0px;
    background-color: rgb(34, 34, 43);
    color:#F5C242;
    font-family: "Caveat Brush";
    border-radius: 10px;
}


.ant-modal-content {
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
  background: none !important;
}

/* global.css */
.ant-popover .ant-btn {
  all: unset;
  background: none !important;
  border: none !important;
  padding: 0 !important;
  color: inherit !important;
  font: inherit !important;
  box-shadow: none !important;
}

.ant-popover button {
  all: unset;
  cursor: pointer;
}

