.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: top;
  min-height: 100vh;
  padding: 50px;
}

.title {
  line-height: 1.15;
  font-size: 4rem;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover, .title a:focus, .title a:active {
  text-decoration: underline;
}

.couple {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.family {
  margin-bottom: 20px;
}

.children {
  margin-left: 50px;
  margin-top: 10px;
}